name: flutter_carplay
description: Flutter Apps are now on Apple CarPlay. This package aims to make it safe to use iPhone apps made with Flutter in the car by integrating with CarPlay.
version: 1.0.14+13
homepage: https://github.com/pradipaub36/flutter_carplay#readme
repository: https://github.com/pradipaub36/flutter_carplay
issue_tracker: https://github.com/oguzhnatly/flutter_carplay/issues

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  uuid: ^4.2.1

dev_dependencies:
  flutter_lints: ^3.0.1
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      ios:
        pluginClass: FlutterCarplayPlugin
